#mainHeaderLogo{
    height:25px;
}
.loggedIn {
    display: inline;
    line-height: 40px;
    float: left;
}
.checkout_items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9px;
    left: 26px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fe4c50;
    font-size: 12px;
    color: #FFFFFF;
}
.table {
    width: 100%;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 35px;
}

.table1 {
    padding-left: 20px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

.table2 {
    padding-left: 20px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

.table3 {
    text-align: center;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

.table4 {
    text-align: center;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

.table5 {
    text-align: center;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

.square_btnNavTable {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 11px;
    font-weight: normal;
    color: white;
    border-radius: 25px;
    transition: .4s;
    background: #4064d7;
}

    .square_btnNavTable:hover {
        background: #3a3a3a;
        color: white;
        text-decoration: none;
    }

@media all and (max-width:1000px) {
    .square_btnNavTable {
        padding: 0.3em 0.5em;
        font-size: 9px;
        border-radius: 10px;
    }
}
.subject {
    position: fixed;
    top: -500px;
    left: -500px;
}

.mainText {
    width: 40%;
    margin-left: 30%;
    margin-top: 10vh;
}

.h-full60 {
    min-height: 60vh;
    max-height: 60vh;
}

.mainBackground {
    background-image: url(../images/main/splash.jpg);
}

.mainButtons {
    width:100%;
    margin-top:-15px;
}

@media (max-width:75em) {
    .mainText {
        width: 60%;
        margin-left: 20%;
        margin-top: 5vh;
    }

    .mainButtons {
        width: 100%;
        margin-top: -50px;
    }
}

@media (max-width:62em) {
    .h-full60 {
        min-height: 100vh;
    }
    .mainText {
        width: 70%;
        margin-left: 15%;
        margin-top: 0vh;
    }
    .mainButtons {
        width: 100%;
        margin-top: -200px;
    }
}

@media (max-width:900px) {
    .pushDown {
        margin-top: 25px;
    }
}

@media (max-width:500px){
    .pushRight{
        margin-left:10%;
    }

    .order-sm-2 {
        -ms-flex-order: 2;
        order: 2;
        margin-left:-30px;
    }
}
.cookieConsent {
    position: fixed;
    bottom: 3px;
    left: 5%;
    width: 90%;
    min-height: 30px;
    background-color: #e9be00;
    color: #176493;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    z-index: 99999;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border-radius: 10px;
}

.cookiebutton {
    margin-left:10px;
    border:none;
    background-color: #176493;
    width: 110px;
    color:white;
    font-size:0.9em;
}

.cookiebutton2 {
    margin-left: 10px;
    border: none;
    width: 110px;
    font-size: 0.9em;
    background-color: white;
    color: #176493;
    text-align: center;
    text-decoration: none;
}

@media (max-width:500px) {
    .cookieConsent {
        width:98%;
        left:1%;
        font-size:0.7em;
        bottom:10px;
    }
    .cookiebutton{
        font-size:0.7em;
        width:60%;
    }
    .cookiebutton2 {
        font-size: 0.7em;
        width: 60%;
    }
    .mr-3 {
        margin-right: 0rem !important;
    }

    .py-8 {
        padding-top: 2.5rem !important;
        padding-bottom: 9.5rem !important;
    }

    .hideAccount {
        visibility: hidden;
        height:0;
    }

    .overflow-hidden {
        overflow:visible;
    }

    .hideModules {
        visibility: hidden;
        width: 0;
    }
}

@media (max-width:580px) {
    .col-xs-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (max-width:765px) {
    .moduleMove {
        margin-top: -500px;
        margin-bottom: 50px;
    }
}
